{% extends "layout.html" %}
{% load static %}


{% block CSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/other_pages.css' %}">
{% endblock %}



{% block content %}


<div class="disclaimer_article">

<h2>Disclaimer</h2>

<p>2023</p>

<p>The information provided on yntoil.com (the &quot;Website&quot;) is for general informational purposes only. While we strive to keep the information up to date and accurate, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information contained on the Website for any purpose. Any reliance you place on such information is strictly at your own risk.</p>

<p>In no event will yntoil.com, its owners, employees, affiliates, partners, or content contributors be liable for any loss or damage, including but not limited to indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this Website.</p>

<p>Through this Website, you may be able to link to other websites that are not under the control of yntoil.com. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorsement of the views expressed within them.</p>

<p>Every effort is made to keep the Website up and running smoothly. However, yntoil.com takes no responsibility for, and will not be liable for, the Website being temporarily unavailable due to technical issues beyond our control.</p>

<p>The information provided on this Website should not be considered as professional advice. You should consult with a qualified professional or expert in the field for specific advice related to engine oil specifications and any related topics.</p>

<p>We reserve the right to make changes to this disclaimer at any time without prior notice. By using this Website, you agree to be bound by the most current version of this disclaimer.</p>

<p>By using the Website, you accept these terms and conditions in full. If you disagree with any part of this disclaimer, do not use the Website.<br>
</p>

</div>


{% endblock %}